<!DOCTYPE HTML>
<html lang="en-GB">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">


        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/_oc.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
        <script src="https://cdn.maptiler.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
        <script src="https://cdn.maptiler.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
        <link rel="stylesheet" href="https://cdn.maptiler.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

        <title>OneClick Static</title>

    </head>

    <body class="homepage">
        <div id="container">

            <!-- Heading Section -->
            <header id="header-wrapper" class="wrapper-fluid">
                <div id="header-wrapper-inner">
                    <div class="wrapper-fixed">

                        <div id="header-logo">
                            <a href="index.html">
                                <img src="img/logo-dark-science.png" alt="dark.SCIENCE Logo" />
                            </a>
                        </div>

                        <div id="header-title">
                            <h3>Conversation about science</h3>
                        </div>

                    </div>

                </div>

                <div id="header-arrow" class="section-next" data-target="#video-wrapper">
                    <img src="img/icon-arrow-down.png" alt="Next" />
                </div>

            </header>

            <main id="main-wrapper" role="main" class="wrapper-fluid">

                <!-- Video Section -->
                <section id="video-wrapper">

                    <img src="img/graphic-video-still.jpg" alt="" />

                    <div id="video-wrapper-play">
                        <img src="img/icon-play-button.png" alt="" />
                    </div>

                    <div id="video-embed">
                        <div class="iframe-wrapper">
                            <iframe src="https://player.vimeo.com/video/342290292" width="100%" height="" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div id="video-arrow" class="section-next" data-target="#node-map-wrapper">
                        <img src="img/icon-arrow-down-white.png" alt="Next" />
                    </div>

                </section>


                <!-- Node Map Section -->
                <section id="node-map-wrapper">

                    <div id="network-map-wrapper">
                        <div class="wrapper-fixed large">

                            <div class="node-item person a">Lorem Ipsum</div>
                            <div class="node-item person b">Lorem Ipsum</div>
                            <div class="node-item note c">Lorem Ipsum</div>
                            <div class="node-item person d">Lorem Ipsum</div>
                            <div class="node-item note e">Lorem Ipsum</div>
                            <div class="node-item person f">Lorem Ipsum</div>
                            <div class="node-item person g">Lorem Ipsum</div>
                            <div class="node-item person h">Lorem Ipsum</div>
                            <div class="node-item note i">Lorem Ipsum</div>

                        </div>
                    </div>

                    <div id="location-map-wrapper">
                        <div id="map"></div>
                        <p><a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a></p>
                    </div>

                    <div id="node-map-arrow" class="section-next" data-target="#profile-wrapper">
                        <img src="img/icon-arrow-down.png" alt="Next" />
                    </div>

                </section>

                <!-- Profile Section -->
                <section id="profile-wrapper">
                    <div class="wrapper-fixed">

{{ with .Site.GetPage "/profile/david-bovill.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/dil-green.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/max-graef.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/miroslav-wiesner.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/clement-renaud.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/jerry-michalski.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/matthew-difranco.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/jaya-brekke.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/martin-etzrodt.md" }}{{ partial "profile-item.html" . }}{{ end }}
{{ with .Site.GetPage "/profile/daniel-wetzel.md" }}{{ partial "profile-item.html" . }}{{ end }}

                    </div>
                </section>

            </main>

            <footer id="footer-wrapper" class="wrapper-fluid">
                <div class="wrapper-fixed">

                    <div class="column-wrapper">

                        <div class="column b-1-2 left">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                        <div class="column b-1-2 right">
                            <img src="img/logo-dark-science-small.png" alt="dark.SCIENCE logo" />
                        </div>

                    </div>
                </div>
            </footer>

        </div>

        <script type="text/javascript" src="assets/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="assets/script.js"></script>
        <!--[if (gte IE 6)&(lte IE 8)]>
          <script type="text/javascript" src="assets/selectivizr-min.js"></script>
        <![endif]-->
    </body>
</html>
